.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
}

.addUser input {
  width: 200px;
  height: 25px;
  margin-right: 8px;
}

.addUser button {
  padding: 8px;
}

.addUser button:hover {
  background-color: rgb(229, 248, 248);
}

.displayUsers {
  margin-top: 20px;
}

.displayUsers input {
  margin: 5px;
}

.displayUsers div {
  width: 400px;
  height: 150px;
  padding: 30px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
